{
        auto_https off
        admin off
}

:3000
root * /srv

file_server

@www_host {
        host www.{$HOST_ROUTE}
}
redir @www_host http://{$HOST_ROUTE}{path}

@unspecified_path {
        not path_regexp ^\/0.0.0.0
        not path /api/*
}
handle @unspecified_path {
        try_files {path} {path}/ /?_url={uri}
}

encode {
        gzip 7
}

log {
        output stdout
}

reverse_proxy /api/* {$HOST_ROUTE}
