{
  auto_https off
  admin off
}

:3000 {
  log {
    output stdout
    format console {
      time_format iso8601
      level_format color
    }
    level {$LOG_LEVEL}
  }
  handle /config.js {
    header {
      Content-Type text/javascript
    }
    respond `window.VITE_KEYCLOAK_URL="{$KEYCLOAK_URL}";
             window.VITE_KEYCLOAK_REALM="standard";
             window.VITE_KEYCLOAK_CLIENT_ID="compliance-and-enforcement-digital-services-web-4794";
             window.VITE_API_URL="/api";
             window.VITE_GRAPHQL_URL="/graphql";
             window.VITE_COMS_URL="{$COMS_URL}";
             window.VITE_COMS_BUCKET="{$COMS_BUCKET}";
             window.VITE_ENVIRONMENT_NAME="{$ENVIRONMENT_NAME}";
             window.VITE_REDIRECT_MODE="{$REDIRECT_MODE}";
             window.VITE_REDIRECT_HOST_NAME="{$REDIRECT_HOST_NAME}"`
  }

  root * /app/dist
  encode zstd gzip
  file_server
  @spa_router {
    not path /api/* /graphql* /config.js
    file {
        try_files {path} /index.html
    }
  }
  rewrite @spa_router {http.matchers.file.relative}
  # Proxy requests to API service
  reverse_proxy /api/* {$BACKEND_URL} {
    header_up Host {http.reverse_proxy.upstream.hostport}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
  }
  # Proxy requests to GraphQL service
  reverse_proxy /graphql* {$GRAPHQL_URL} {
    header_up Host {http.reverse_proxy.upstream.hostport}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
  }
  header {
    -Server
    X-Frame-Options "SAMEORIGIN"
    X-XSS-Protection "1;mode=block"
    Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
    X-Content-Type-Options "nosniff"
    Strict-Transport-Security "max-age=31536000"
    Content-Security-Policy "default-src 'self' https://*.gov.bc.ca https://*.arcgis.com https://*.arcgisonline.com; 
    script-src 'self' https://*.gov.bc.ca https://www2.gov.bc.ca https://*.arcgis.com blob:; 
    object-src 'self' blob:; 
    style-src 'self' https://fonts.googleapis.com https://use.fontawesome.com 'unsafe-inline'; 
    font-src 'self' https://fonts.gstatic.com;  
    img-src 'self' data: https://fonts.googleapis.com https://www.w3.org https://*.gov.bc.ca https://*.tile.openstreetmap.org https://*.arcgisonline.com https://*.arcgis.com; 
    frame-ancestors 'self'; 
    form-action 'self';"
    Referrer-Policy "same-origin"
    Permissions-Policy "fullscreen=(self), camera=(), microphone=()"
    Cross-Origin-Resource-Policy "cross-origin"
    Cross-Origin-Opener-Policy "same-origin"
    # Without this the ZAP scan will raise (Insufficient Site Isolation Against Spectre Vulnerability) (Low).  
    # With this we can't use Keycloak -at least not out of the box
    #Cross-Origin-Embedder-Policy "require-corp" 
  }
}

:3001 {
  # Set the root directory for this block to where .ready is created after the build completes
  root * /app/dist

  handle /health {
    respond "OK"
  }

  handle /ready {
    # If the .ready file exists, serves it
    # If it does not exist yet, the build has not completed, pass to /not-ready.html
    try_files .ready /not-ready.html
    file_server
  }

  handle /not-ready.html {
    # Build has not completed, so the app is not ready to be served
    respond "NOT READY" 503
  }
}
