apiVersion: v2
name: quickstart-openshift
description: A Helm chart for Kubernetes deployment.
icon: https://www.nicepng.com/png/detail/521-5211827_bc-icon-british-columbia-government-logo.png

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)

version: 2.0.130

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes

appVersion: 2.0.130

dependencies:
  - name: postgresql
    condition: bitnami-pg.enabled
    version: 15.5.13
    repository: https://charts.bitnami.com/bitnami
    alias: bitnami-pg
  - name: postgresql
    condition: metabase-pg.enabled
    version: 15.5.13
    repository: https://charts.bitnami.com/bitnami
    alias: metabase-pg
  - name: nats
    version: 1.1.12
    repository: "https://nats-io.github.io/k8s/helm/charts/"
maintainers:
  - name: Om Mishra
    email: omprakash.2.mishra@gov.bc.ca
  - name: Derek Roberts
    email: derek.roberts@gov.bc.ca
