@import '@/scss/common/variables.scss';
@import '@/scss/common/colours.scss';
@import '@/scss/common/typography.scss';

// GLOBAL
a {
  color: $bc-brand-links;
}
h1 {
  margin: 0;
  font-weight: 700;
}
h2 {
  margin: 0;
  font-weight: 700;
}
h3 {
  margin: 0;
  font-weight: 700;
}
h4 {
  margin: 0;
  font-weight: 700;
}
h5 {
  margin: 0;
  font-weight: 700;
}
h6 {
  margin: 0;
  font-weight: 700;
}
