/* partys Accordion styles */

/* No borders */
.party-accordion .accordion-item {
  border: none !important;
}

/* Header styles */
.party-accordion .accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding-left: 0;
  font-weight: 600;
}

/* Expanded state styling */
.party-accordion .accordion-button:not(.collapsed) {
  color: inherit !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

/* tighter spacing between sections */
.party-accordion .accordion-body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.25rem;
  padding-bottom: 0;
}

/* tighter spacing below the header */
.party-accordion .accordion-header {
  margin-bottom: 0px;
}

.party-card {
  border: 1px solid transparent !important;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23adb5bd' stroke-width='2' stroke-dasharray='10%2c 7' stroke-linecap='square'/%3e%3c/svg%3e");
  background-origin: border-box;
}

.party-card--linked {
  border: 1px solid #dee2e6 !important;
  background-image: none;
}
