/* partys Accordion styles */

/* No borders */
.party-accordion .accordion-item {
  border: none !important;
}

/* Header styles */
.party-accordion .accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding-left: 0;
  font-weight: 600;
}

/* Expanded state styling */
.party-accordion .accordion-button:not(.collapsed) {
  color: inherit !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

/* tighter spacing between sections */
.party-accordion .accordion-body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.25rem;
  padding-bottom: 0;
}

/* tighter spacing below the header */
.party-accordion .accordion-header {
  margin-bottom: 0px;
}

/* Add extra line on the bottom element */
.party-accordion .list-group-item:last-child {
  border-bottom: 1px solid #dee2e6 !important;
}
