/* import bootstrap to set changes */
@import "./variables.scss";
@import "./colours.scss";
@import "./typography.scss";

@import "./mixins.scss";

@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

@import "./complaint.scss"; //-- dont move this unless you want to fix broken styles

@import "./outcome-report.scss";

@import "./zone-at-a-glance.scss";
@import "./maps.scss";
@import "./carousel.scss";
@import "./accordion.scss";
@import "./form.scss";
@import "./errors.scss";

// <!-- add new scss files here  -->
@import "./modals.scss";

@import "./layout.scss";
@import "./misc.scss";
@import "./party.scss";
@import "./contravention.scss";

.app-update-toast {
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
}
