.case-not-found {
  margin: auto;
}

.case-activities-container {
  margin: 0vh 2vw;
}

.case-activities-outer-cell {
  min-width: 300px;
}

.case-activities-badge-container {
  align-items: center;
}

.case-activities-action-cell {
  background: lavender;
}

.case-activities-footer-cell {
  min-height: 12vh;
}
