// @import "../../../node_modules/bootstrap/scss/bootstrap";
$white: #FFFFFF;

/* BC Standard Primary */
$bc-primary-blue: #003366;
$bc-primary-gold: #FCBA19;
$bc-primary-text: #313132;
$bc-primary-link: #1A5A96;
$bc-primary-bakground-blue: #38598A;
$bc-primary-background-light-grey: #F2F2F2;
$bc-primary-background-mid-grey: #606060;
$bc-primary-sementic-red: #D8292F;
$bc-primary-sementic-green: #2E8540;
$bc-primary-white: $white;

/* BC Standard */
$bc-standard-01: #004F4B;
$bc-standard-02: #20754E;
$bc-standard-03: #61A744;
$bc-standard-04: #31BA9A;
$bc-standard-05: #05A6D1;
$bc-standard-06: #005C98;
$bc-standard-07: #243C7C;
$bc-standard-08: #5F3795;
$bc-standard-09: #883895;
$bc-standard-10: #DD5857;
$bc-standard-11: #F38489;
$bc-standard-12: #F2A488;
$bc-standard-13: #ECC51D;

/* BC Standard Light */
$bc-standard-light-01: #017068;
$bc-standard-light-02: #2F9B66;
$bc-standard-light-03: #81C457;
$bc-standard-light-04: #5BC2AA;
$bc-standard-light-05: #17C2EB;
$bc-standard-light-06: #1886C8;
$bc-standard-light-07: #4062AD;
$bc-standard-light-08: #6C52A2;
$bc-standard-light-09: #994F9F;
$bc-standard-light-10: #F26D6F;
$bc-standard-light-11: #F7A3AB;
$bc-standard-light-12: #FAC4B7;
$bc-standard-light-13: #FEE67B;


/* BC Standard Greyscale */
$bc-greyscale-black: #1A1A1A;
$bc-greyscale-60: #656565;
$bc-greyscale-40: #A1A1A1;
$bc-greyscale-20: #C7C7C7;
$bc-greyscale-10: #E4E4E4;
$bc-greyscale-5: #F1F1F1;
$bc-greyscale-white: $white;


$theme-colors: (
        "info": tomato,
        "danger": #FF00FF
);
