// COMPLAINTS PAGE CONTAINER
.comp-page-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1rem;
  overflow: hidden;
}

// PAGE HEADER/TITLE CONTAINER
.comp-page-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}

.comp-page-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

// SEARCH BAR
.search-bar {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

// FILTER BAR
.comp-filter-bar {
  display: flex;
  flex-direction: column;

  :has(button.comp-filter-btn) {
    margin-top: 16px;
  }
}

// FILTER PILLS
.filter-pills-container {
  display: flex;
  align-items: center;
  gap: 4px;
  row-gap: 4px;
  margin-top: 16px;
}

// ADD FILTER BUTTON
.btn.add-filter-btn {
  border-radius: 100px;
}

// FILTER FORM CONTROLS - DESKTOP
.comp-filter-btn {
  width: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  padding: 4px 5px 4px 10px;
  background-color: $bc-gov-neutral-500;
  color: white;
  border-radius: 100px;
  border-color: $bc-gov-neutral-500;
}

// FILTER CONTAINERS
.comp-filter-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  + .comp-filter-container {
    margin-top: 8px;
  }

  label {
    margin-bottom: 4px;
    font-size: 0.875rem;
  }

  .comp-select__control {
    font-size: 0.875rem;
  }
}

// DATA CONTAINER
.comp-data-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow: hidden;
  border: 1px solid $gray-300;
  border-radius: 4px;
}

// DESKTOP FILTER
.comp-data-filters {
  display: none;
  border-right: 1px solid $gray-300;

  &-header {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding: 0 16px;
    height: 44px;
    font-size: 0.875rem;
    font-weight: 700;
    border-bottom: 1px solid $gray-300;
  }

  &-body {
    flex: 1 1 auto;
    padding: 16px;
    overflow-y: auto;
  }
}

// Fixing width of datepicker in this container
.react-datepicker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.react-datepicker-wrapper {
  width: 100%;
}

.comp-data-list-map {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;

  .map-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .comp-table-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
  }

  .comp-table-scroll-container {
    flex: 1 1 auto;
    overflow: auto;
  }
}

// FILTER COMPONENT BREAKPOINTS
@include media-breakpoint-up(xl) {
  .filter-pills-container {
    margin-top: 0;
  }

  .btn.add-filter-btn {
    display: none;
  }

  .comp-data-filters {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 300px;
  }
}

// COMPLAINT DETAILS/EDIT
.comp-details-header,
.comp-create-header {
  position: sticky;
  top: 0;
  z-index: 8000;
}

.comp-complaint-details {
  .comp-details-content-label {
    color: $gray-500;
  }

  .comp-details-content {
    color: $gray-900;

    i.bi {
      color: $gray-500;
    }
  }
}

p {
  white-space: pre-wrap;
}

.comp-complaint-breadcrumb {
  background-color: $bc-gov-primary-400;
  color: $white;

  height: 43px;
  padding: 8px 37px 8px 24px;
}

.comp-table tbody div:last-child .comp-cell:last-of-type {
  border-bottom-right-radius: 4px;
}

.comp-complaint-label {
  color: $gray-500;
}

.comp-details-status {
  display: flex;
  justify-content: space-between;
  margin: 24px;

  .comp-details-header-column {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    .comp-details-content-label + div {
      margin-top: 10px;
    }

    i:first-child {
      padding-right: 5px;
    }

    i:last-child {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .comp-details-status-width {
    width: 190px;
  }

  .comp-complaint-created-width {
    width: 250px;
  }

  .comp-complaint-last-updated-width {
    width: 250px;
  }

  .comp-complaint-assigned-width {
    width: 250px;
  }

  .comp-complaint-created-by-width {
    width: 250px;
  }
}

.comp-details-subheader {
  padding: 0px 0px 0px 24px;
  height: 80px;
  background: $bc-gov-primary-400;

  color: $white;
  flex: 1;
}

.comp-details-subsection {
  padding: 12px 24px 0px 24px;
  background: $white;

  color: $bc-gov-primary-400;
  flex: 1;
}

.comp-box-actions {
  padding: 8px 24px 0px;
  background: $bc-gov-primary-400;

  color: $bc-gov-primary-400;
  flex: 1;
}

.comp-details-create-header {
  padding: 8px 34px 0px;
  height: 60px;
  background: $bc-gov-primary-400;

  color: $white;
  flex: 1;
}

.comp-violation-cell {
  width: 306px;
}

.comp-in-progress-cell {
  width: 153px;
}

.comp-status-cell {
  width: 75px;
}

.comp-last-updated-cell {
  width: 110px;
}

.comp-nature-complaint-cell {
  width: 329px;
}

.comp-top-right {
  border-top-right-radius: 4px;
}

.comp-bottom-left {
  border-bottom-left-radius: 4px;
}

.comp-bottom-right {
  border-bottom-right-radius: 4px;
}

.comp-status-open-btn {
  width: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}

.comp-complaint-info {
  display: flex;
  align-items: center;

  .comp-box-complaint-id {
    height: 32px;
    line-height: 32px;
    font-weight: 700;
    font-size: 24px;
  }

  .comp-box-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
  }

  .comp-box-actions button {
    border-radius: 4px;
    border-color: $white;
    color: $white;
    font-size: 14px;
  }

  .comp-box-actions button span {
    padding-right: 8px;
  }

  .comp-box-actions button svg {
    font-size: 16px;
    vertical-align: text-top;
    margin-top: 1px;
  }

  .comp-box-actions-non-header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
  }

  .comp-box-actions-non-header button {
    border-radius: 4px;
    border-color: $bc-gov-primary-400;
    color: $bc-gov-primary-400;
    font-size: 14px;
  }

  .comp-box-actions-non-header button:hover {
    color: $white;
  }

  .comp-box-actions-non-header button span {
    padding-right: 8px;
  }

  .comp-box-actions-non-header button svg {
    font-size: 16px;
    vertical-align: text-top;
    margin-top: 1px;
  }

  .comp-box-conflict-type {
    margin: 0px 12px;
    padding: 4px 12px;

    border-radius: 60px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    display: flex;
  }

  .hwcr-conflict-type {
    background: $bc-standard-03;
  }

  .allegation-conflict-type {
    background: $bc-standard-05;
  }

  #violation-in-progress-icon {
    font-size: 16px;
    margin-right: 5px;
    margin-left: -5px;
  }

  .comp-box-species-type {
    padding: 4px 12px;
    background: $gray-300;
    border-radius: 60px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    display: flex;
    color: $black;
  }

  .comp-nature-of-complaint {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
  }
}

.comp-view-complaint-badge {
  color: black;
  line-height: normal;
  gap: 10px;
  font-size: 12px;
  font-weight: 700;
  border: solid black;
  border-width: 0.5px;
  margin-right: 10px;
  border-radius: 4px;
}

.comp-view-complaint-details-button span.comp-view-complaint-badge:hover {
  color: $white;
  background-color: $bc-gov-primary;
}

.comp-status-badge-open {
  background-color: $green-100-80;
  color: $green-100;
  line-height: normal;
  gap: 10px;
  font-size: 12px;
}

.comp-status-badge-closed {
  background-color: $red-300-80;
  color: $red-300;
  line-height: normal;
  gap: 10px;
  font-size: 12px;
}

.comp-status-badge-threat-level {
  background-color: $red-300-80;
  color: $red-300;
  line-height: normal;
  gap: 10px;
  font-size: 12px;
}

.comp-status-badge-conflict-history {
  background-color: $blue-400;
  color: $bc-gov-primary-700;
  line-height: normal;
  gap: 10px;
  font-size: 12px;
}

.comp-violation-in-progress {
  background-color: $red-300-80;
  color: $red-300;
  line-height: normal;
}

.comp-complaint-details-alert {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  background-color: $bc-brand-background-light-gray;
  border: 1px solid $gray-300;
  height: 56px;
  padding: 16px;
  font-size: 16px;
  gap: 8px;
  margin-bottom: 8px;
}

.comp-complaint-details-header {
  margin: 24px 24px 24px 24px;

  h6 {
    padding-top: 0px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .comp-complaint-call-details {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid $gray-300;
    border-radius: 3px;
    padding: 24px;
  }

  .comp-complaint-call-information {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid $gray-300;
    border-radius: 3px;
    padding: 24px;
  }

  .comp-details-content-label {
    padding-right: 25px;
    margin-bottom: 16px;
    display: inline-block;
  }

  .comp-details-content {
    margin-bottom: 16px;
    display: inline-block;

    i:first-child {
      padding-right: 5px;
    }

    i:last-child {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .comp-attactant-badge {
    background-color: $gray-200;
    color: $black;
  }
}

.comp-complaint-details-block {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;

  h6 {
    padding-top: 0px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .comp-complaint-call-details {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid $gray-300;
    border-radius: 3px;
    padding: 24px;
  }

  .comp-complaint-call-information {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid $gray-300;
    border-radius: 3px;
    padding: 24px;
  }

  .comp-attachments {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid $gray-300;
    border-radius: 3px;
  }

  .comp-details-content-label {
    padding-right: 25px;
    margin-bottom: 16px;
    display: inline-block;
  }

  .comp-details-content {
    margin-bottom: 16px;
    display: inline-block;

    i:first-child {
      padding-right: 5px;
    }

    i:last-child {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .comp-attactant-badge {
    background-color: $gray-200;
    color: $black;
  }
}

.comp-cell-violation-in-progress-icon {
  font-size: 15px;
  margin-right: 4px;
  margin-left: -5px;
}

.comp-box-violation-in-progress {
  background-color: $red-300-80;
  color: $red-300;

  padding: 4px 12px;
  width: 110px;
  height: 24px;
  border-radius: 60px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  display: flex;
}

.header-spacing {
  padding-top: 30px;
}

.comp-complaint-details-location-block {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;

  h6 {
    padding-top: 0px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .comp-complaint-location {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.comp-complaint-header-edit-block {
  margin: 24px 24px;
  padding: 24px;
  border: 1px solid $gray-300;
  border-radius: 3px;

  h6 {
    padding-top: 0px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .comp-details-content {
    color: $gray-900;

    i.bi {
      color: $gray-500;
      padding: 4px;
    }
  }
}

.comp-select__control:focus-within {
  border: 1px solid $blue-100 !important;
  box-shadow: 0px 0px 0px 4px $blue-300 !important;
}

//Need these to make sure the filters show up on top of other frozen items
.top-layer-select,
.react-datepicker-popper {
  z-index: 7000 !important;
}

.comp-details-edit-container {
  display: flex;
}

.comp-suspect-witness-edit-container {
  display: flex;
  min-height: 150px;
}

.comp-details-edit-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  button span {
    padding-right: 8px;
  }
  button svg {
    vertical-align: text-top;
    margin-top: 1px;
  }
}

.comp-details-right-column {
  margin-right: 0px;
}

.comp-details-right-spacing {
  margin-right: 300px;
}

.comp-details-label-input-pair {
  display: flex;
  align-items: center;
  min-height: 70px;

  label {
    color: $gray-500;
    min-width: 191px;
    max-width: 191px;
  }

  .comp-details-input {
    flex-basis: 100%;
    color: $gray-900;

    i.bi {
      color: $gray-500;
    }
  }
}

.drug-auth-details-label-input-pair {
  display: flex;
  min-height: 70px;

  label {
    color: $gray-500;
    margin-top: 6px;
    min-width: 191px;
    max-width: 191px;
  }

  .comp-details-input {
    flex-basis: 100%;
    color: $gray-900;

    i.bi {
      color: $gray-500;
    }
  }
}

.comp-details-label-div-pair {
  display: flex;
  align-items: center;
  min-height: 70px;

  label {
    color: $gray-500;
    min-width: 191px;
    max-width: 191px;
  }

  .comp-details-div {
    flex-basis: 100%;
    color: $gray-900;

    i.bi {
      color: $gray-500;
    }
  }
}

.comp-details-label-checkbox-div-pair {
  display: flex;
  min-height: 70px;

  label {
    color: $gray-500;
    min-width: 191px;
    max-width: 191px;
  }

  .checkbox-label {
    max-width: 100%;
    color: black;
  }

  .check-spacing {
    padding: 10px 0;
  }

  .comp-details-div {
    flex-basis: 100%;
    color: $gray-900;

    i.bi {
      color: $gray-500;
    }
  }
}

.comp-details-inner-content-label {
  padding-right: 25px;
  display: inline-block;
}
.comp-details-inner-content {
  display: inline-block;

  i:first-child {
    padding-right: 5px;
  }
  i:last-child {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.required-ind {
  color: $bc-gov-danger;
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
}

.comp-details-edit-label {
  color: $gray-500;
  flex: 1;
}

.comp-details-edit-input {
  flex: 1;
}

.btn-close {
  box-sizing: content-box;
  width: 0.15em;
  height: 0.15em;
  padding: 0.2em 0.7em;
  border: 0;
  border-radius: 0.2rem;
  opacity: 0.5;
  margin-top: 6px;
}

// COMPLAINT DETAILS END

#complaint-list {
  border-collapse: initial;
  border-spacing: 0px;
  font-style: normal;

  tbody {
    tr {
      cursor: pointer;
    }

    tr .comp-table-icons {
      // don't display unless row is hovered on
      display: none;
    }

    tr:hover {
      background-color: $gray-110;
    }

    .comp-table-row-hover-style {
      background-color: $gray-110;
    }

    // display the interactive icons when the row is hovered on
    tr:hover .comp-table-icons {
      margin-top: 10px;
      display: block;
    }

    // hide the date when the row is hovered on
    tr:hover .comp-table-update-date {
      display: none;
    }

    td {
      white-space: nowrap;
    }

    .comp-table-icon-weighted:hover {
      stroke-width: 0.5;
    }

    .comp-cell-action-icon {
      margin-right: 15px;
    }

    .comp-cell-break-word {
      word-break: break-word;
    }

    .comp-cell-expanded-location {
      max-width: 800px;
    }

    .comp-cell-child-actions {
      vertical-align: bottom !important;
      text-align: right !important;
    }

    .comp-cell-child-actions div {
      margin-right: 20px;
    }
  }

  .comp-header-left-border {
    border-left-width: 1px;
  }

  .comp-header-right-border {
    border-right-width: 1px;
  }

  .comp-header-vertical-border-left {
    border-left-width: 1px;
  }

  .comp-ellipsis-cell {
    width: 31px;
    vertical-align: middle;
    color: $gray-600;
    font-size: 14px;

    td {
      cursor: pointer;
    }
  }
}

.comp-table-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  width: 1330px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  height: 38px;
  border-spacing: 0px;
  text-align: left;
  border-collapse: initial;
  margin-left: 12px;

  > :not(caption) > * > * {
    background: $gray-500;
    background-color: $gray-200;
    border-color: $gray-500;
  }

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.comp-table {
  border-spacing: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  width: 1330px;
  font-style: normal;
  font-size: 12px;
  text-align: left;
  border-collapse: initial;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.comp-header-cell {
  box-sizing: border-box;
  padding: 0px 12px 0px 12px;
  height: 38px;

  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-bottom-width: 0px;
  flex: none;
  order: 12;
  align-self: stretch;
  flex-grow: 0;
}

.comp-filter-left {
  float: left;
  width: 298px;
}

.comp-box-footer {
  margin-right: 24px;
  height: 100px;

  .comp-box-footer-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
  }

  .comp-box-footer-actions button {
    border-radius: 4px;
    font-size: 14px;
  }

  .comp-box-footer-actions button svg {
    font-size: 16px;
    vertical-align: text-top;
    margin-top: 1px;
  }
}

.comp-cell {
  box-sizing: border-box;
  padding: 12px 12px 12px 12px;

  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: $gray-310;

  flex: none;
  order: 12;
  align-self: stretch;
  flex-grow: 0;
}

.comp-cell-parent-expanded {
  border-bottom: none !important;
}

.comp-cell-parent-expanded:hover + tr {
  background-color: $gray-110;
}

.comp-cell-child-expanded {
  padding-top: 0 !important;
  // border-top: none !important;
}

.comp-cell-left {
  border-style: solid;
  border-color: $gray-310;
  border-width: 0px 1px 0px 1px;
}

.comp-top-left {
  border-top-left-radius: 4px;
  border-width: 1px 1px 0px 1px;
}

.comp-small-cell {
  width: 95px;
}

.comp-medium-cell {
  width: 130px;
}

.comp-area-cell {
  width: 165px;
}

.comp-location-cell {
  width: 170px;
}

.collapsible .header {
  padding: 6px;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.comp-details-edit-calendar-input {
  width: 100%;
}

.comp-details-edit-calendar-input input {
  width: inherit;
}

.comp-details-edit-calendar-input input:focus {
  border: 1px solid $blue-100 !important;
  outline: none;
  box-shadow: 0px 0px 0px 4px $blue-300 !important;
}

.comp-filter-calendar-input input:focus {
  border: 1px solid $blue-100 !important;
  outline: none;
  box-shadow: 0px 0px 0px 4px $blue-300 !important;
}

//override -- default is one pixel too high
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  top: 0;
  margin-top: -7px;
  background: #fff;
}

.no-bullets {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

.hidden {
  display: none;
}

.comp-cell-bottom {
  border-style: solid;
  border-color: $gray-310;
}

.comp-status-closed-btn {
  width: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  padding: 4px 8px;

  pointer-events: none;
  background-color: $bc-gov-danger;
  border-color: $bc-gov-danger;
}

.comp-species-btn {
  width: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  padding: 4px 8px;

  pointer-events: none;
  background-color: $gray-200;
  color: $gray-800;
  border-radius: 100px;
  border-color: $gray-200;
}

.comp-in-progress-btn {
  width: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  padding: 4px 8px;

  pointer-events: none;

  background: $bc-gov-success;
  border-color: $bc-gov-success;
  color: white;
  border-radius: 4px;
}

.btn-hidden {
  display: none;
}

.comp-tabs {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.comp-tab-active {
  color: $gray-700;
}

.comp-tab-inactive {
  color: $bc-gov-shade-300;
}

.comp-sub-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* identical to box height, or 133% */

  /* BC Primary/Blue */

  color: $bc-gov-primary;
}

.comp-div-tab {
  margin-bottom: 10px;
}

.comp-circle {
  margin: 2px 2px 2px 2px;
  width: 24px;
  height: 24px;
  float: left;
  /* Greyscale/10 */

  background: $gray-200;
  border-radius: 100px;
  text-align: center;
  //verical align not working hacky fix
  line-height: 200%;
}

.comp-assigned {
  padding-top: 6px;
  padding-left: 6px;
  float: left;
}

.comp-table-row-hover-icons {
  font-size: 16px;
  color: $gray-800;
  margin: 0px 5px 4px 5px;
}

.popover-body {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px;

  width: 190px;
  height: 82px;

  /* Gray/White */
  background: $white;

  /* Components/Dropdowns/Border */
  border: 1px solid $gray-200;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 0;
}

.popover-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $gray-900;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;
  height: 32px;
  cursor: pointer;
}

.filter-select-padding {
  padding: 6px, 12px, 6px, 12px;
}

.clear-left-float {
  clear: left;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.clear-right-float {
  clear: right;
}

.complaint-filter-image-container {
  float: left;
  margin: 0px 0px 0px 7px;
}

.filter-image-spacing {
  margin-right: 7px;
  margin-bottom: 3px;
}

.input-field-select__option {
  min-height: 35px;
}

.error-message {
  color: $bc-gov-danger;
}

.error-border {
  border-color: $bc-gov-danger !important;
}

.error-select-border {
  .comp-select__control {
    border-color: $bc-gov-danger;
  }
}

.comp-complaint-error {
  margin: 24px 24px;
  padding: 24px;
  border: 1px solid #eea8ab;
  border-radius: 3px;
  background-color: $bc-gov-danger-100;
  color: $bc-gov-danger;
}

.comp-map-unmapped-alert {
  margin: 7px 0px;
  padding: 16px;
  border: 1px solid $gray-300;
  border-radius: 4px;
  background-color: $bc-gov-neutral-100;
  color: $black;
  width: 1330px;
}

.comp-map-no-results-alert {
  margin: 7px 0px;
  padding: 16px;
  border: 1px solid $gray-300;
  border-radius: 4px;
  background-color: $bc-gov-neutral-100;
  color: $black;
  width: 1330px;
}

.display-none {
  display: none;
}

//Toasts Gets the top layer
.Toastify {
  z-index: 10000;
  position: relative;
}

.Toastify__toast--error {
  border: 1px solid #eea8ab;
  border-radius: 3px !important;
  background: #fae1e2 !important;
  background-color: $bc-gov-danger-100 !important;
  color: $bc-gov-danger !important;
}

.Toastify__toast--success {
  border: 1px solid #badbcc;
  border-radius: 3px !important;
  background: #d1e7dd !important;
  background-color: #d1e7dd !important;
  color: #0f5132 !important;
}

.map-list-toggle {
  margin-left: 3px;
  font-size: 12px;
  height: 38px;
  z-index: 0 !important;
}

.toggle-button {
  background-color: white !important;
  color: $gray-800 !important;
  border-color: $gray-300 !important;
  border-radius: 8px;
  z-index: 0 !important;
  white-space: nowrap;
}

.toggle-button.active {
  background-color: $gray-100 !important;
  color: $gray-800 !important;
  border-color: $gray-300 !important;
  border-radius: 8px;
  z-index: 0 !important;
}

.toggle-button-icon.active {
  color: $gray-600 !important;
}

.toggle-button-text {
  color: $gray-800 !important;
  margin-left: 4px;
}

.toggle-button-text.active {
  color: $gray-600 !important;
  margin-left: 4px;
}

.comp-filter-search {
  margin-left: 16px;
}

.comp-outcome-report-file-review {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid $gray-300;
  border-radius: 3px;
  padding: 24px;
}

.comp-outcome-report-file-review > .comp-details-content-label {
  padding-right: 25px;
  margin-bottom: 16px;
  display: inline-block;
}

.comp-outcome-report-file-review > .comp-details-content {
  margin-bottom: 16px;
  display: inline-block;

  i:first-child {
    padding-right: 5px;
  }

  i:last-child {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.button-text {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 14px;

  span {
    margin-right: 4px;
  }

  svg {
    font-size: 16px;
    vertical-align: text-top;
  }

  :hover {
    text-decoration-line: underline;
  }
}

.button-text:disabled {
  color: $gray-500;
  cursor: not-allowed;
  pointer-events: all;
}

.form-check-input {
  cursor: pointer;
}
.form-check-input:disabled {
  cursor: not-allowed;
  pointer-events: all;
}

// COMPLAINT TABLE CUSTOMIZATION
th,
td {
  white-space: nowrap;
}

td {
  vertical-align: middle;
}

td.indicent-col {
  text-align: center;
}

.actions-col {
  text-align: center;
}

.hwc-table-dl {
  margin: 0;

  + dl {
    margin-top: 16px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  dt {
    width: 40ch;
    font-weight: 400;
    color: $gray-500;
  }

  dd {
    margin: 0;
    white-space: normal;
    max-width: 92ch;
  }
}

.bg-species-badge {
  font-size: 0.75rem;
  line-height: normal;
  background-color: #e4e4e4;
  color: #313132;
}
