// COMPLAINT DETAILS START
.comp-complaint-details {
  margin: -24px;

  .comp-details-content-label {
    color: $gray-500;
  }

  .comp-details-content {
    color: $gray-900;

    i.bi {
      color: $gray-500;
    }
  }
}

.comp-complaint-breadcrumb {
  background-color: $bc-gov-primary-400;
  color: $white;

  height: 43px;
  padding: 8px 37px 8px 32px;

  nav > ol > li:nth-child(2) > a {
    text-decoration: underline;
    color: $white;
  }
}

.comp-table tbody div:last-child .comp-cell:last-of-type {
  border-bottom-right-radius: 4px;
}

.comp-complaint-label {
  color: $gray-500;
}

.comp-details-status {
  display: flex;
  justify-content: space-between;
  margin: 24px;

  .comp-details-header-column {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    .comp-details-content-label + div {
      margin-top: 10px;
    }

    i:first-child {
      padding-right: 5px;
    }
    i:last-child {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .comp-details-status-width {
    width: 190px;
  }

  .comp-complaint-created-width {
    width: 250px;
  }

  .comp-complaint-last-updated-width {
    width: 250px;
  }

  .comp-complaint-assigned-width {
    width: 250px;
  }

  .comp-complaint-created-by-width {
    width: 250px;
  }
}

.comp-details-header {
  padding: 8px 34px 0px;
  height: 98px;
  background: $bc-gov-primary-400;

  color: $white;
  flex: 1;
}
.comp-violation-cell {
  width: 306px;
}

.comp-in-progress-cell {
  width: 153px;
}

.comp-status-cell {
  width: 75px;
}

.comp-last-updated-cell {
  width: 110px;
}

.comp-nature-complaint-cell {
  width: 329px;
}

.comp-header-label {
  float: left;
  margin-top: 1px;
}

.comp-header-caret {
  float: right;
  cursor: pointer;
}
.comp-top-right {
  border-top-right-radius: 4px;
}

.comp-bottom-left {
  border-bottom-left-radius: 4px;
}
.comp-bottom-right {
  border-bottom-right-radius: 4px;
}

.comp-status-open-btn {
  width: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}

.comp-complaint-info {
  display: flex;
  align-items: center;

  .comp-box-complaint-id {
    height: 32px;
    line-height: 32px;
    font-weight: 700;
    font-size: 24px;
  }

  .comp-box-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
  }

  .comp-box-actions button {
    border-radius: 4px;
    border-color: $white;
    color: $white;
    font-size: 14px;
  }

  .comp-box-actions button span {
    padding-right: 8px;
  }

  .comp-box-actions button svg {
    font-size: 16px;
    vertical-align: text-top;
    margin-top: 1px;
  }

  .comp-box-conflict-type {
    margin: 0px 12px;
    padding: 4px 12px;

    border-radius: 60px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    display: flex;
  }

  .hwcr-conflict-type {
    background: $bc-standard-03;
  }

  .allegation-conflict-type {
    background: $bc-standard-05;
  }

  .comp-box-violation-in-progress {
    background-color: $red-300-80;
    color: $red-300;
  
    padding: 4px 12px;

    border-radius: 60px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    display: flex;
  }

  #violation-in-progress-icon {
    font-size: 16px;
    margin-right: 5px;
    margin-left: -5px;
  }

  .comp-box-species-type {
    padding: 4px 12px;
    background: $gray-300;
    border-radius: 60px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    display: flex;
    color: $black;
  }

  .comp-nature-of-complaint {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
  }
}

.comp-status-badge-open {
  background-color: $green-100-80;
  color: $green-100;
  line-height: normal;
}

.comp-status-badge-closed {
  background-color: $red-300-80;
  color: $red-300;
  line-height: normal;
}

.comp-violation-in-progress {
  background-color: $red-300-80;
  color: $red-300;
  line-height: normal;
}

.comp-complaint-details-block {
  margin-left: 24px;
  margin-right: 24px;

  h6 {
    padding-top: 0px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .comp-complaint-call-details {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid $gray-300;
    border-radius: 3px;
    padding: 24px;
  }

  .comp-complaint-call-information {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid $gray-300;
    border-radius: 3px;
    padding: 24px;
  }

  .comp-details-content-label {
    padding-right: 25px;
    margin-bottom: 16px;
    display: inline-block;
  }

  .comp-details-content {
    margin-bottom: 16px;
    display: inline-block;

    i:first-child {
      padding-right: 5px;
    }
    i:last-child {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .comp-attactant-badge {
    background-color: $gray-200;
    color: $black;
  }
}

.comp-complaint-details-location-block {
  margin-left: 24px;
  margin-right: 24px;

  h6 {
    padding-top: 0px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .comp-complaint-location {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.comp-complaint-header-edit-block {
  margin: 24px 24px;
  padding: 24px;
  border: 1px solid $gray-300;
  border-radius: 3px;

  h6 {
    padding-top: 0px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .comp-details-content {
    color: $gray-900;

    i.bi {
      color: $gray-500;
      padding: 4px;
    }
  }
}

.comp-select__control:focus-within {
  border: 1px solid $blue-100 !important;
  box-shadow: 0px 0px 0px 4px $blue-300 !important;
}

.comp-details-edit-container {
  display: flex;
}

.comp-suspect-witness-edit-container {
  display: flex;
  height: 150px;
}

.comp-details-edit-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.comp-details-right-column {
  margin-right: 0px;
}

.comp-details-label-input-pair {
  display: flex;
  align-items: baseline;
  min-height: 70px;

  label {
    color: $gray-500;
    min-width: 191px;
    max-width: 191px;
  }

  .comp-details-input {
    flex-basis: 100%;
    color: $gray-900;

    i.bi {
      color: $gray-500;
    }
  }
}

.required-ind {
  color: $bc-gov-danger;
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
}

.comp-details-edit-label {
  color: $gray-500;
  flex: 1;
}

.comp-details-edit-input {
  flex: 1;
}

.comp-details-content {
  padding-top: 7px;
}

.comp-filter-btn {
  width: auto;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  display: flex;
  flex-direction: row;
  padding: 4px 5px 4px 10px;

  background-color: $bc-gov-neutral-500;
  color: white;
  border-radius: 100px;
  border-color: $bc-gov-neutral-500;
}

.btn-close {
  box-sizing: content-box;
  width: 0.15em;
  height: 0.15em;
  padding: 0.2em 0.7em;
  border: 0;
  border-radius: 0.2rem;
  opacity: 0.5;
  margin-top: 6px;
}
// COMPLAINT DETAILS END

#complaint-list {
  width: 1330px;
  border-collapse: initial;
  border-spacing: 0px;

  font-style: normal;
  font-size: 12px;

  thead {
    font-weight: 600;

    height: 38px;
    text-align: left;

    th {
      background: #8c8c8c;
      background-color: #e4e4e4;
      border-color: #8c8c8c;
    }
  }

  tbody {
    font-weight: normal;

    td {
      border-color: #8c8c8c;
    }
  }

  .comp-header-left-border {
    border-left-width: 1px;
  }

  .comp-header-right-border {
    border-right-width: 1px;
  }

  .comp-header-left-radius {
    border-top-left-radius: 4px !important;
    border-width: 1px;
  }

  .comp-header-right-radius {
    border-top-right-radius: 4px !important;
    border-width: 1px;
  }

  .comp-header-horizontal-border {
    border-top-width: 1px;
    border-bottom-width: 1px;
  }

  .comp-header-vertical-border {
    border-left-width: 1px;
    border-right-width: 1px;
  }

  .comp-ellipsis-cell {
    width: 31px;
    vertical-align: middle;
    color: $gray-600;
    font-size: 14px;

    td {
      cursor: pointer;
    }
  }
}

.comp-table-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  width: 1330px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  height: 38px;
  border-spacing: 0px;
  text-align: left;
  border-collapse: initial;
  margin-left: 12px;

  > :not(caption) > * > * {
    background: $gray-500;
    background-color: $gray-200;
    border-color: $gray-500;
  }

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.comp-table {
  border-spacing: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  width: 1330px;
  font-style: normal;
  font-size: 12px;
  text-align: left;
  border-collapse: initial;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.comp-header-cell {
  box-sizing: border-box;
  padding: 0px 12px 0px 12px;
  height: 38px;

  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-bottom-width: 0px;
  flex: none;
  order: 12;
  align-self: stretch;
  flex-grow: 0;
}

.comp-filter-label {
  padding: 0px 0px 8px;
  gap: 4px;
  width: 298px;
  height: 32px;
}

.comp-filter-pill-container {
  display: flex;
  align-items: center; /* Vertically center items */
  height: 46px; /* Set the container's height */
  width: 1330px;
}

.comp-filter-left {
  float: left;
  width: 298px;
}

.comp-filter {
  float: left;
  width: 298px;
  margin: 0px 0px 0px 43px;
}

.comp-filter-pills {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.comp-filter-pill {
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

.comp-box-footer {
  margin-right: 24px;
  height: 100px;

  .comp-box-footer-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
  }

  .comp-box-footer-actions button {
    border-radius: 4px;
    font-size: 14px;
  }

  .comp-box-footer-actions button svg {
    font-size: 16px;
    vertical-align: text-top;
    margin-top: 1px;
  }
}

.comp-cell {
  box-sizing: border-box;
  padding: 12px 12px 12px 12px;

  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: $gray-310;

  flex: none;
  order: 12;
  align-self: stretch;
  flex-grow: 0;
}

.comp-cell-left {
  border-style: solid;
  border-color: $gray-310;
  border-width: 0px 1px 0px 1px;
}

.comp-top-left {
  border-top-left-radius: 4px;
  border-width: 1px 1px 0px 1px;
}

.comp-small-cell {
  width: 95px;
}

.comp-medium-cell {
  width: 130px;
}

.comp-area-cell {
  width: 165px;
}

.comp-location-cell {
  width: 170px;
}
//override for horizontal dual month display
.react-datepicker__month-container {
  float: left;
}

.collapsible .content {
  padding: 6px;
}
.collapsible .header {
  padding: 6px;
  cursor: pointer;
}

.comp-details-edit-calendar-input {
  width: 100%;
}

.comp-details-edit-calendar-input input {
  width: inherit;
}

.comp-details-edit-calendar-input input:focus {
  border: 1px solid $blue-100 !important;
  outline: none;
  box-shadow: 0px 0px 0px 4px $blue-300 !important;
}

.comp-filter-calendar-input input:focus {
  border: 1px solid $blue-100 !important;
  outline: none;
  box-shadow: 0px 0px 0px 4px $blue-300 !important;
}

//override -- default is one pixel too high
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  top: 0;
  margin-top: -7px;
}

.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.hidden {
  display: none;
}

.comp-cell-bottom {
  border-style: solid;
  border-color: $gray-310;
}

.comp-status-closed-btn {
  width: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  padding: 4px 8px;

  pointer-events: none;
  background-color: $bc-gov-danger;
  border-color: $bc-gov-danger;
}

.comp-species-btn {
  width: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  padding: 4px 8px;

  pointer-events: none;
  background-color: $gray-200;
  color: $gray-800;
  border-radius: 100px;
  border-color: $gray-200;
}

.comp-in-progress-btn {
  width: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  padding: 4px 8px;

  pointer-events: none;

  background: $bc-gov-success;
  border-color: $bc-gov-success;
  color: white;
  border-radius: 4px;
}

.btn-hidden {
  display: none;
}

.comp-tabs {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.comp-tab-active {
  color: $gray-700;
}

.comp-tab-inactive {
  color: $bc-gov-shade-300;
}

.comp-sub-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-left: 5px;
  margin-bottom: 25px;
  /* identical to box height, or 133% */

  /* BC Primary/Blue */

  color: $bc-gov-primary;
}

.comp-div-tab {
  margin-bottom: 10px;
}

.comp-circle {
  margin: 2px 2px 2px 2px;
  width: 24px;
  height: 24px;
  float: left;
  /* Greyscale/10 */

  background: $gray-200;
  border-radius: 100px;
  text-align: center;
  //verical align not working hacky fix
  line-height: 200%;
}

.comp-assigned {
  padding-top: 6px;
  padding-left: 6px;
  float: left;
}

.popover-body {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px;

  width: 190px;
  height: 82px;

  /* Gray/White */
  background: $white;

  /* Components/Dropdowns/Border */
  border: 1px solid $gray-200;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 0;
}

.popover-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $gray-900;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;
  height: 32px;
  cursor: pointer;
}

.filter-container {
  margin: 0px 0px 10px 0px;
}

.filter-select-padding {
  padding: 6px, 12px, 6px, 12px;
}

.clear-left-float {
  clear: left;
}

.left-float {
  float: left;
}

.complaint-tab-container-width {
  width: 1330px;
}

.complaint-filter-image-container {
  float: left;
  margin: 0px 5px 0px 0px;
}

.filter-image-spacing {
  margin-right: 5px;
}

.input-field-select__option {
  min-height: 35px;
}
.error-message {
  color: $bc-gov-danger;
}

.error-border {
    border-color: $bc-gov-danger !important;
}

.comp-complaint-error {
  margin: 24px 24px;
  padding: 24px;
  border: 1px solid #EEA8AB;
  border-radius: 3px;
  background-color: #FBEAEA;
  color: $bc-gov-danger;
}

.display-none {
  display: none;
}

.Toastify__toast--error {
  border: 1px solid #EEA8AB;
  border-radius: 3px !important;
  background: #FAE1E2 !important;
  background-color: #FBEAEA !important;
  color: $bc-gov-danger !important;
}

.Toastify__toast--success {
  border: 1px solid #BADBCC;
  border-radius: 3px !important;
  background: #D1E7DD !important;
  background-color: #D1E7DD !important;
  color: #0F5132 !important;
}

.map-list-toggle {
  margin-left: 10px;
  font-size: 12px;
  height: 38px;
  z-index: 0 !important;
}

.toggle-button {
  background-color: $gray-100 !important;
  color: $gray-800 !important;
  border-color: $gray-300 !important;
  border-radius: 8px;
  z-index: 0 !important;
}

.toggle-button.active {
  background-color: white !important;
  color: $gray-800 !important;
  border-color: $gray-300 !important;
  border-radius: 8px;
  z-index: 0 !important;
}

.comp-filter-search {
  margin-left: 16px;
}
