.comp-icon-button-container {
  width: 24px;
  height: 28px;
  padding: 0px;
  border: 0px;
  background: transparent;
  overflow: hidden;
  white-space: nowrap;
}

.comp-icon-button-container:hover > *:first-child,
.comp-icon-button-container:hover > *:last-child {
  transform: translateX(-100%);
}

.comp-fake-label {
  display: inline-block;
  margin-right: 10px;
  min-width: 10px !important;
  max-width: inherit;
  color: $gray-500;
}

// CHECKBOX
.form-check-input {
  cursor: pointer;
}
.form-check-input:disabled {
  cursor: not-allowed;
  pointer-events: all;
}

.comp-checkbox-group {
  margin: -4px 0;
  padding-left: 8px;
}

.comp-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 0;

  .form-check-input {
    flex: 0 0 auto;
  }

  .form-check-input:not(:disabled) + label {
    cursor: pointer;
  }
}

// CUSTOM ERROR MESSAGE
.comp-form-error-msg {
  display: flex;
  align-items: flex-start;
  margin-top: 12px;

  i {
    margin-left: 1px;
    margin-right: 6px;
  }
}
