.comp-complaint-details {
  position: absolute;
  left: 254px;
  top: 72px;
  width: 100%;
}

.comp-details-subheader {
  display: flex;
  flex-direction: column;
  padding: 8px 34px 0px;

  height: 98px;
  background: $bc-gov-primary-400;

  color: $white;
}
