.comp-contravention {
  dt {
    font-weight: 100;
    color: $gray-600;
  }
}

#investigation-list {
  border-collapse: initial;
  border-spacing: 0px;
  font-style: normal;

  thead > tr > th:not(:first-child) {
    border-left: 1px solid $gray-300;
  }

  tbody {
    tr {
      cursor: pointer;

      &:hover {
        background-color: $gray-110;
      }
    }

    .comp-table-row-hover-style {
      background-color: $gray-110;
    }
  }
}
.scroll-target {
  scroll-margin-top: 8em;
}
.text-style-button {
  all: unset;
  display: flex;
  cursor: default !important;
}

.content-fade {
  max-height: 150px;
  -webkit-mask-image: linear-gradient(to bottom, black 80px, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80px, transparent 100%);
}

.task-item-body {
  width: 40em;
}
.gray-text {
  color: #7a7a7a;
}

.larger-font {
  font-size: 1.11rem;
}
