// GLOBAL
a {
  color: $bc-brand-links;
}

// LAYOUT
.comp-app-container {
  display: flex;
  height: 100vh;
  height: 100svh; // iOS devices
  flex-direction: column;
  margin: 0;
}

.comp-body-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow: hidden;
}

.comp-main-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-x: hidden;
}

.comp-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

// APPLICATION HEADER
.fixed-header .comp-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9000;
}

.comp-header {
  height: 72px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 24px;
  color: $white;
  background: $bc-gov-primary;

  .comp-header-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: -12px;
    font-size: 1.25rem;
    font-weight: 700;
    color: $white;
    text-decoration: none;
  }

  .comp-header-content {
    display: flex;
    align-items: center;
    flex: 1;

    .comp-header-left {
      display: flex;
      align-items: center;
    }

    .comp-header-right {
      align-items: center;
      display: flex;
      margin-left: auto;
    }
  }
}

// SIDEBAR
.sidebar-wrapper {
  position: relative;
}

.fixed-sidebar .comp-sidebar {
  position: fixed;
}

.comp-sidebar {
  background-color: $bc-brand-background-blue;
  width: 220px;
  height: 100%;
  padding: 16px;
  overflow: hidden;
  border: none;
  text-align: left;

  .comp-organization-nav-name {
    color: $white;
  }

  .comp-sidenav-list {
    gap: 4px;
    margin-left: -8px;
    margin-right: -8px;
  }

  &.collapsed {
    align-items: center;
    width: 72px;

    .comp-sidenav-list {
      gap: 8px;
    }
  }

  &.collapsed > span > span.comp-organization-nav-name {
    display: none;
  }

  &.collapsed > span > span.comp-organization-nav-long-name {
    display: none;
  }

  a {
    color: $white;
  }
}

.comp-sidebar-toggle-icon {
  text-shadow:
    1px 0 currentColor,
    -1px 0 currentColor,
    0 1px currentColor,
    0 -1px currentColor;
  margin-left: -7px;
  margin-right: -7px;
}

.comp-sidebar-toggle {
  position: absolute;
  color: $white;
  top: 0;
  left: 220px; /* match expanded sidebar width */
  z-index: 9000;
  background-color: $bc-brand-background-blue;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-bottom-right-radius: 0.375rem;
}

.comp-sidebar.collapsed + .comp-sidebar-toggle {
  left: 72px; /* match collapsed width */
}

// SIDE NAVIGATION
.comp-sidenav-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  li {
    margin: 0;
  }
}

.comp-sidenav-item {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 6px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: all ease-out 0.2s;

  &:hover {
    color: $white;
    background-color: $bc-gov-primary;
  }

  &:active {
    background-color: #c1d9f2;
    outline-color: $white;
  }

  &:focus-visible {
    outline-color: $white;
  }

  &-lg {
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    text-decoration: none;
  }

  &-sm {
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    i.bi {
      font-size: 24px;
    }
  }
}

// ORGANIZATION LOGO
.comp-organization-nav-logo {
  padding-right: 12px;
}

.comp-organization-nav-name {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.0064em;
  font-weight: 700;
  color: $bc-gov-primary;
}

.comp-organization-nav-long-name {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.0064em;
  font-weight: 700;
  color: $bc-gov-primary;
}

// Start of Hyperlink Styles
.comp-nav-item-name {
  color: $bc-brand-links;

  a {
    text-decoration: none;
    color: $bc-brand-links;
  }
}

.comp-nav-item-name-underline {
  color: $bc-brand-links;

  a {
    text-decoration: underline;
    color: $bc-brand-links;
  }

  a:hover {
    font-weight: bold;
  }
}

.comp-nav-item-name-inverted {
  color: $bc-brand-links;

  a {
    text-decoration: underline;
    color: $white;
  }

  a:hover {
    color: $white;
  }
}

.comp-nav-item-icon-inverted {
  color: $bc-brand-links;

  a {
    text-decoration: none;
    color: $white;
  }
}
// End of Hyperlink Styles

.comp-profile-avatar {
  display: inline;
}

.comp-profile-avatar[data-initials-listview=""] {
  display: none;
}

.comp-footer {
  height: 72px;
  background-image: url("../images/layout/ce-footer.svg");
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center;
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}

.widget-content .widget-content-right {
  margin-left: auto;
  padding-right: 34px;
}
.widget-content .widget-content-left {
  margin-left: auto;
  padding-right: 34px;
}

.widget-content .widget-content-outer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.modal_description_label {
  padding: 0px 0px 8px;
  gap: 4px;
  width: 458px;
  height: 32px;
}

.status-change-subtext {
  color: $red-300;
  margin-bottom: 10px;
  font-weight: 400 !important;
}

.status-change-subtext .change_status_modal_icon {
  padding-left: 12px;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

button.modal-buttons {
  margin-right: 8px !important;
}

.inactive-button {
  background-color: $gray-200;
  color: $gray-600;
  cursor: not-allowed;
  border-color: $gray-600;
}

.inactive-button:hover {
  background-color: $gray-200;
  color: $gray-600;
  cursor: not-allowed;
}

.selected {
  background-color: $gray-100;
}

.comp-profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: none;
}

.comp-profile-card-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.assign_officer_modal_profile_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  cursor: pointer;
  &:hover {
    background-color: #deebff;
  }
}

.assign_officer_modal_profile_card_selected {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 24px;

  width: 498px;
  height: 88px;

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  cursor: pointer;
  background-color: $gray-100;
}

.modal-scroll {
  max-height: 264px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;

  .comp-overlay-content {
    height: 100%;
  }
}

.self-assign {
  margin-bottom: 10px;
  &:hover {
    background-color: $white;
    cursor: default;
  }
}

.assign_officer_modal_profile_card_column {
  display: grid;
  align-items: center;
  height: 48px;
}

.assign_officer_modal_profile_card_profile-picture {
  display: grid;
  align-items: center;

  width: 48px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.change_status_modal {
  padding: 0px 16px 16px 16px;
}

.assign_officer_modal_subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: $gray-500;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.assign_officer_modal_profile_card_row_1 {
  width: 220px;
  font-size: 16px;
  color: $gray-800;
}

.assign_officer_modal_profile_card_row_2 {
  width: 220px;
  font-weight: 400;
  font-size: 16px;
  color: $gray-500;
}

.modal_hr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  width: 498px;
  height: 0px;

  /* HitBox

  Hitbox makes whole element selectable when press & hold Ctrl key
  It also be used in case we want to apply drop shadow effect but still want to keep the transparent background.
  */
  background: rgba(255, 255, 255, 1e-6);

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.refer-complaint-modal-alert {
  margin-bottom: 0px;
  padding: 3px;
}

.refer-complaint-modal-subtitle {
  padding-top: 3px;
  font-size: 16px;
  margin-bottom: 0px;
}

.refer-complaint-modal-alert-item {
  padding-bottom: 5px;
  color: rgba(149, 125, 49);
}

.refer-complaint-modal-alert-list {
  margin-bottom: 0px;
}

// PAGINATION CONTAINER
.pagination_container {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  min-height: 63px;
  border-top: 1px solid $gray-300;

  * {
    font-size: 0.875rem;
  }
}

.pagination_container .page-item.active .page-link {
  background-color: $bc-gov-neutral-500; /* Background color of the active page link */
  color: #fff; /* Text color of the active page link */
  border-color: $bc-gov-neutral-500; /* Border color of the active page link */
}

.pagination_container .page-link {
  background-color: #fff; /* Background color of non-active page links */
  color: $bc-gov-link-blue; /* Text color of non-active page links */
  border-color: $gray-300; /* Border color of non-active page links */
}

.pagination_container .page-item.disabled .page-link {
  color: #ccc; /* Text color of disabled page links */
  pointer-events: none; /* Disable click events on disabled links */
}

.pagination_controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}

.pagination_controls_end {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.pagination {
  margin: 0;
}

.page-link {
  // The select component doesn't have a size prop so we're matching the size here.
  height: 38px;
}

@include media-breakpoint-down(lg) {
  .page-item:not(:first-of-type):not(:last-of-type):not(.active) {
    display: none;
  }

  .page-item {
    text-align: center;
  }
}

.pagination_total {
  font-weight: 400;
  line-height: 1.5;
}

.pagination_specific_page {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  label {
    flex: 0 0 auto;
    white-space: nowrap;
  }

  .form-control {
    width: 80px;
    // The select component doesn't have a size prop so we're matching the size here.
    height: 38px;
  }
}

.blue-seperator {
  height: 2px;
  background-color: $bc-brand-blue;
  color: $bc-brand-blue;
  opacity: 100 !important;
  margin: 0 24px;
  margin-bottom: 24px;
}

p {
  white-space: normal;
}

.pending-slide {
  img {
    opacity: 0.5;
  }
}

.comp-paragraph-break-word {
  word-break: break-word !important; //needs to be important to override the global 'break-all' style a few lines above this
}

// BREADCRUMBS
.comp-complaint-breadcrumb {
  color: $white;
  margin-top: -4px;
}

// BUTTONS
.btn {
  font-size: 0.875rem;

  // Icon only
  &.icon-btn {
    width: 36px;
    height: 36px;
    padding: 0;
    border-color: transparent;

    i {
      font-size: 1.25rem;
      color: inherit;
    }
  }

  // Icon and label visible
  &:not(.icon-btn) {
    i {
      margin-right: 8px;
      font-size: 1rem;
    }
  }

  &-txt {
    border-color: transparent;
  }

  &.svg-icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

// CARD
.comp-card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 0;
  background: transparent;
  border: none;

  h4,
  h5 {
    margin: 0;
    font-weight: 700;
  }
}

.comp-card-header-title {
  .badge {
    margin-top: 2px;
  }
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.comp-card-header-metadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  span + span {
    &::before {
      content: "•";
      display: inline-block;
      width: 20px;
      text-align: center;
    }
  }
}

.comp-card-header-actions {
  display: flex;
  gap: 8px;
}

// DROPDOWN MENU
.icon-btn.dropdown-toggle {
  &::after {
    display: none;
  }
}

.kebab-btn.dropdown-toggle {
  &::after {
    display: none;
  }
}

.dropdown-item {
  i {
    margin-right: 8px;
    font-size: 1rem;
  }
}

// TOGGLE BUTTON
.toggle-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-color: $gray-300;
  white-space: nowrap;
}

@include media-breakpoint-down(xl) {
  .toggle-button span {
    display: none;
  }
}

// TABLES
.comp-table {
  font-size: 0.875rem;

  thead {
    font-weight: 600;
    height: 44px;
    text-align: left;

    th {
      background: $gray-100;
      background-color: $gray-100;
      border-color: $gray-300;
      overflow: hidden;
      white-space: nowrap;
      vertical-align: middle;

      + th {
        border-left-width: 1px;
      }

      &.sortable-header {
        cursor: pointer;
      }

      &.unsortable {
        cursor: default;
      }
    }
  }

  td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-color: $gray-300;
  }

  a {
    color: #1a5a96;
  }

  tbody {
    font-weight: 400;
  }
}

// TABLE UTILITIES
.sticky-table-header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.sticky-col {
  position: sticky;

  &--left {
    left: 0;
    border-right: 1px solid $gray-300;
  }

  &--right {
    right: 0;
    border-left: 1px solid $gray-300;
  }
}

th.sticky-col + th {
  border-left: none;
}

td.sticky-col {
  background-color: #fff;
}

td.actions-col {
  padding-top: 0;
  padding-bottom: 0;
  .btn {
    margin-top: 4px;
  }

  .btn + .btn {
    margin-left: 8px;
  }
}

// SORTABLE TABLE HEADER
.sortable-header {
  white-space: nowrap;

  &-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0.5rem;
  }
}

.header-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// TABS
.case-nav-tabs .nav-link {
  transition: none;
}

.nav-link {
  font-size: 0.875rem;
  color: $bc-brand-links;
  cursor: pointer;

  &:hover {
    color: $bc-brand-links;
  }
}

// OFFCANVAS CUSTOMIZATION
.offcanvas-header .btn-close {
  margin-right: 0.5rem;
}

.offcanvas-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.environment-banner {
  display: flex;
  background-color: #eac448;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  height: 36px;
  color: $bc-gov-primary-700;
}

// TABS
.comp-tab {
  .nav-link {
    padding: 6px 12px;
    font-size: 0.875rem;
  }
}

.comp-tab-active {
  color: $bc-gov-primary;
}

.comp-tab-inactive {
  color: $bc-gov-shade-300;
}

.input-group:focus-within {
  border: 1px solid #90b6f8 !important;
  border-radius: 0.375rem;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  .form-control {
    border: none !important;
    transition-delay: 1s;
  }
  .input-group-text {
    border: none !important;
  }
}

.input-group .form-control:focus-visible {
  box-shadow: none !important;
  border-left: none !important;
}

.rbt {
  display: flex;
}

.rbt-aux {
  right: 0;
  position: absolute;
}

.case-nav-tabs {
  padding-left: 20px;
  background: $bc-gov-primary-400;
}

.case-tab {
  .nav-link {
    padding: 10px 26px;
    font-size: 0.875rem;
    color: $bc-gov-primary-100;
  }
  .nav-link.active {
    color: $bc-gov-primary-400;
    font-weight: 700;
  }
}

.investigation-nav-link.active {
  background-color: $bc-gov-primary !important;
  font-weight: bold !important;
}

.investigation-nav-link.inactive {
  background-color: $gray-200;
}
