.comp-badge {
  position: relative;
  top: -15px;
  left: -4px;
}

[data-initials]:before {
  background: $bc-gov-info;
  color: $black;
  opacity: 1;
  content: attr(data-initials);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
}

[data-initials-listview]:before {
  background: $bc-gov-info;
  color: #313132;
  opacity: 1;
  content: attr(data-initials-listview);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  margin-right: 8px;
  background-color: #E4E4E4;
}

[data-initials-modal]:before {
  background: #FECBA1;
  color: #CA6510;
  opacity: 1;
  content: attr(data-initials-modal);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  margin-right: 8px;
}

.comp-orange-avatar-sm::before {
  color: $orange-600;
  background: $orange-200;
  opacity: 1;
  content: attr(data-initials-sm);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
}

.comp-blue-avatar-sm::before {
  color: $blue-600;
  background: $blue-200;
  opacity: 1;
  content: attr(data-initials-sm);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
}

.comp-blue-avatar-sm {
  span {
    position: relative;
    top: 3px;
  }
}

.comp-orange-avatar-sm {
  span {
    position: relative;
    top: 3px;
  }
}

.bs-popover-bottom > .popover-arrow {
  margin-top: 1px;
}
