.comp-badge {
  position: relative;
  top: -15px;
  left: -4px;
}

[data-initials]:before {
  background: $bc-gov-info;
  color: $black;
  opacity: 1;
  content: attr(data-initials);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
}

[data-initials-listview]:before {
  background: $bc-gov-info;
  color: #313132;
  opacity: 1;
  content: attr(data-initials-listview);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  margin-right: 8px;
  background-color: #E4E4E4;
}

