.comp-form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1a1a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid hsl(0, 0%, 80%);
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.comp-form-control:focus-visible {
  outline: none;
  border: 1px solid #90b6F8 !important;
  box-shadow: 0px 0px 0px 4px rgba(0,120,255,0.25) !important;
}

.comp-form-control:disabled {
  background-color: #e4e4e4;
  opacity: 1;
}

.comp-badge {
  position: relative;
  top: -15px;
  left: -4px;
}

[data-initials]:before {
  background: $bc-gov-info;
  color: $black;
  opacity: 1;
  content: attr(data-initials);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
}

[data-initials-zagview]:before {
  background-color: #F9DBD0;
  color: #C1836F;
  opacity: 1;
  content: attr(data-initials-zagview);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: 8px;
}

[data-initials-zagview-hwcr]:before {
  background-color: #31BA9A;
  color: white;
  opacity: 1;
  content: attr(data-initials-zagview-hwcr);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: 8px;
}

[data-initials-zagview-allegation]:before {
  background-color: #C4A417;
  color: white;
  opacity: 1;
  content: attr(data-initials-zagview-allegation);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: 8px;
}

[data-initials-listview]:before {
  background: $bc-gov-info;
  color: #313132;
  opacity: 1;
  content: attr(data-initials-listview);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  margin-right: 8px;
  background-color: #E4E4E4;
}

[data-initials-modal]:before {
  background: #FECBA1;
  color: #CA6510;
  opacity: 1;
  content: attr(data-initials-modal);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  margin-right: 8px;
}

.comp-orange-avatar-sm::before {
  color: $orange-600;
  background: $orange-200;
  opacity: 1;
  content: attr(data-initials-sm);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
}

.comp-blue-avatar-sm::before {
  color: $blue-600;
  background: $blue-200;
  opacity: 1;
  content: attr(data-initials-sm);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
}

.comp-blue-avatar-sm {
  span {
    position: relative;
    top: 3px;
  }
}

.comp-orange-avatar-sm {
  span {
    position: relative;
    top: 3px;
  }
}

.bs-popover-bottom > .popover-arrow {
  margin-top: 1px;
}

.datepicker-nav-icon {
  top: 5px;
}

.datepicker-nav-icon-hidden {
  visibility: hidden;
}

.datepicker-nav-icon-visible {
  visibility: visible;
}

.react-datepicker__view-calendar-icon input {
    padding: 6px 10px 5px 32px;
    width: 298px;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

.react-datepicker__input-container > .react-datepicker__calendar-icon {
  padding: 0px;
  margin: 10px;
  position: absolute;
}

.filter-pill-close {
  pointer-events: auto;
}

.comp-loader-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba($white, 0.40);

  .comp-overlay-content { 
    height: 100%;
  }
}

.comp-tooltip .tooltip-inner {
  background-color: $bc-gov-primary;
}

.comp-tooltip-right .tooltip-arrow::before {
  border-right-color: $bc-gov-primary !important;
}

.comp-tooltip-left .tooltip-arrow::before {
  border-right-color: $bc-gov-primary !important;
}

.comp-tooltip-top .tooltip-arrow::before {
  border-right-color: $bc-gov-primary !important;
}

.comp-tooltip-bottom .tooltip-arrow::before {
  border-right-color: $bc-gov-primary !important;
}