.comp-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $gray-900;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid hsl(0, 0%, 80%);
  appearance: none;
  border-radius: 0.375rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

#incident-date,
#incident-time,
#incident-date:focus,
#incident-time:focus,
#incident-date:focus-visible,
#incident-time:focus-visible {
  border: none;
  outline: none;
  margin-left: 8px;
  padding: 0;
}
input[list]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
#incident-date::-webkit-calendar-picker-indicator,
#incident-time::-webkit-calendar-picker-indicator {
  display: none;
}
input[list] {
  color: #808080;
}
input[list] + datalist option[value=""] {
  color: #808080 !important;
}
input[list]:not(:focus):not([value=""]):not(:placeholder-shown) {
  color: inherit;
}
input[list]:placeholder-shown {
  color: inherit;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.comp-form-control:focus-visible {
  border: 1px solid $blue-100 !important;
  outline: none;
  box-shadow: 0px 0px 0px 4px $blue-300 !important;
}

.comp-form-control:disabled {
  background-color: $gray-200;
  opacity: 1;
}

.comp-badge {
  position: relative;
  top: -15px;
  left: -4px;
}

.placeholder-input {
  color: #808080 !important;
}

[data-initials]:before {
  background: $bc-gov-info;
  color: $black;
  opacity: 1;
  content: attr(data-initials);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
}

[data-initials-zagview]:before {
  background-color: $bc-standard-12-200;
  color: $bc-standard-12-600;
  opacity: 1;
  content: attr(data-initials-zagview);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: 8px;
}

[data-initials-zagview-hwcr]:before {
  background-color: $bc-standard-04-500;
  color: white;
  opacity: 1;
  content: attr(data-initials-zagview-hwcr);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: 8px;
}

[data-initials-zagview-allegation]:before {
  background-color: $bc-standard-13-500;
  color: white;
  opacity: 1;
  content: attr(data-initials-zagview-allegation);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: 8px;
}

[data-initials-listview]:before {
  background: $bc-gov-info;
  color: $gray-800;
  opacity: 1;
  content: attr(data-initials-listview);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  margin-right: 8px;
  background-color: $gray-200;
}

[data-initials-sm]:before {
  content: attr(data-initials-sm);
}

[data-initials-modal]:before {
  content: attr(data-initials-modal);
}

// Refactor Avatar Styling
.comp-avatar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  overflow: hidden;

  &::before {
    flex: 0 0 auto;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
  }

  // Sizing
  &-sm {
    --avatar-size: 2rem;

    &::before {
      width: var(--avatar-size);
      height: var(--avatar-size);
      font-size: 0.875rem;
      line-height: var(--avatar-size);
    }
  }

  span {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: var(--avatar-size);
  }

  // Color Variations
  &-orange::before {
    color: $orange-600;
    background: $orange-200;
  }

  &-blue::before {
    color: $blue-600;
    background: $blue-200;
  }

  &-pink::before {
    color: $bc-standard-12-600;
    background: $bc-standard-12-200;
  }
}

.comp-orange-avatar-sm::before {
  color: $orange-600;
  background: $orange-200;
  opacity: 1;
  content: attr(data-initials-sm);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
}

.comp-blue-avatar-sm::before {
  color: $blue-600;
  background: $blue-200;
  opacity: 1;
  content: attr(data-initials-sm);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
}

.comp-pink-avatar-sm::before {
  color: $bc-standard-12-600;
  background: $bc-standard-12-200;
  opacity: 1;
  content: attr(data-initials-sm);
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
}

.comp-blue-avatar-sm {
  span {
    position: relative;
    top: 3px;
  }
}

.comp-orange-avatar-sm {
  span {
    position: relative;
    top: 3px;
  }
}

.comp-pink-avatar-sm {
  margin-top: -5px;
  span {
    position: relative;
    top: 3px;
  }
}

.bs-popover-bottom > .popover-arrow {
  margin-top: 1px;
}

.datepicker-nav-icon {
  top: 5px;
}

.datepicker-nav-icon-hidden {
  visibility: hidden;
}

.datepicker-nav-icon-visible {
  visibility: visible;
}

.react-datepicker__input-container input {
  padding: 6px 10px 5px 10px;
  width: 100%;
  background-color: hsl(0, 0%, 95%);
  border-color: hwb(0 90% 10%);
  color: hsl(0, 0%, 60%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 32px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  color: black;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

.react-datepicker__input-container > .react-datepicker__calendar-icon {
  padding: 0px;
  margin: 10px;
  position: absolute;
}

.datepicker-disabled > .react-datepicker__view-calendar-icon input {
  background-color: hsl(0, 0%, 95%);
  border-color: hwb(0 90% 10%);
  color: hsl(0, 0%, 60%);
  opacity: 100%;
}

.filter-pill-close {
  pointer-events: auto;
}

.comp-loader-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba($white, 0.4);

  .comp-overlay-content {
    height: 100%;
  }
}

.width-full {
  width: 100%;
}

.search-input-group {
  flex-wrap: nowrap;
  i {
    margin: 0 !important;
  }
  #clear-search {
    right: 4rem;
    z-index: 10;

    &:hover {
      right: 4rem;
    }
  }
  #search-button {
    background-color: #38598a;
  }
}

.clear-search-button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  margin-top: 0;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.comp-search-input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  input {
    padding-left: 40px;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    z-index: 2;
  }
}

.comp-tooltip-hint {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 9%;
  text-decoration-color: $bc-gov-primary;
}

.comp-tooltip,
.comp-tooltip-dark {
  --bs-tooltip-max-width: 100%;
  position: fixed;
  z-index: 9000 !important;
}

#search-button-tooltip {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100000 !important;
  opacity: 1 !important;
}
#search-button-tooltip .tooltip-inner {
  background-color: white;
  color: $black;
  border: 1px solid $bc-gov-primary;
}
#search-button-tooltip.tooltip .tooltip-arrow {
  background-color: white;
}
#search-button-tooltip.tooltip .tooltip-arrow::before {
  border-right-color: white;
  border-left-color: white;
  border-top-color: white;
}

.comp-tooltip-dark .tooltip-inner {
  background-color: $black;
}

.comp-tooltip-dark.comp-tooltip-right .tooltip-arrow::before {
  border-right-color: black !important;
}

.comp-tooltip-dark.comp-tooltip-left .tooltip-arrow::before {
  border-left-color: black !important;
}

.comp-tooltip-dark.comp-tooltip-top .tooltip-arrow::before {
  border-top-color: black !important;
}

.comp-tooltip-dark.comp-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: black !important;
}

.comp-tooltip .tooltip-inner {
  background-color: $bc-gov-primary;
}

.comp-tooltip-right .tooltip-arrow::before {
  border-right-color: $bc-gov-primary !important;
}

.comp-tooltip-left .tooltip-arrow::before {
  border-left-color: $bc-gov-primary !important;
}

.comp-tooltip-top .tooltip-arrow::before {
  border-top-color: $bc-gov-primary !important;
}

.comp-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: $bc-gov-primary !important;
}

.collaborators-tooltip {
  opacity: 100% !important;
}

#comp-header-collaborator-count {
  padding-left: 0.2em;
}

.redirect-container {
  align-items: start;
  margin-top: 5em;
  text-align: center;
}

.redirect-title {
  margin-top: 0.4em;
  margin-bottom: auto;
}

.diary-dates-table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--bs-border-color);
}

// Keep form rows stacked vertically inside modals
.modal .comp-details-form-row {
  flex-direction: column;
  gap: 4px;

  > label {
    width: auto;
    margin-top: 0;
  }
}
