//-- ---
//-- COLORS
//-- ---
$white:    #fff !default;
$black:    #000 !default;

/* primary theme colors */
$bc-gov-primary: #003366;
$bc-gov-secondary: #fcba19;
$bc-gov-success: #2e8540;
$bc-gov-warning: #f1c21b;
$bc-gov-danger: #d8292f;
$bc-gov-info: #d9eaf7;
$bc-gov-light: $white;
$bc-gov-dark: $black;

/* primary theme shades */
$bc-gov-primary-100: #f0f6fd;
$bc-gov-primary-200: #96abc0;
$bc-gov-primary-300: #6b89a6;
$bc-gov-primary-400: #154878;
$bc-gov-primary-500: $bc-gov-primary;
$bc-gov-primary-600: #001f3e;
$bc-gov-primary-700: #002447;

$primaryVariants: (
  "main": $bc-gov-primary,
  "100": $bc-gov-primary-100,
  "200": $bc-gov-primary-200,
  "300": $bc-gov-primary-300,
  "400": $bc-gov-primary-400,
  "500": $bc-gov-primary-500,
  "600": $bc-gov-primary-600,
  "700": $bc-gov-primary-700,
);

$bc-gov-secondary-100: #fff8e8;
$bc-gov-secondary-200: #fee3a1;
$bc-gov-secondary-300: #fdd77a;
$bc-gov-secondary-400: #fdc640;
$bc-gov-secondary-500: $bc-gov-secondary;
$bc-gov-secondary-600: #9a710f;
$bc-gov-secondary-700: #b08212;

$secondaryVariants: (
  "main": $bc-gov-secondary,
  "100": $bc-gov-secondary-100,
  "200": $bc-gov-secondary-200,
  "300": $bc-gov-secondary-300,
  "400": $bc-gov-secondary-400,
  "500": $bc-gov-secondary-500,
  "600": $bc-gov-secondary-600,
  "700": $bc-gov-secondary-700,
);

$bc-gov-success-100: #eaf3ec;
$bc-gov-success-200: #a9cdb1;
$bc-gov-success-300: #45a766;
$bc-gov-success-400: $bc-gov-success;
$bc-gov-success-500: #1c5127;

$successVariants: (
  "main": $bc-gov-success,
  "100": $bc-gov-success-100,
  "200": $bc-gov-success-200,
  "300": $bc-gov-success-300,
  "400": $bc-gov-success-400,
  "500": $bc-gov-success-500,
);

$bc-gov-danger-100: #fbeaea;
$bc-gov-danger-200: #efa7aa;
$bc-gov-danger-300: $bc-gov-danger;
$bc-gov-danger-400: #84191d;

$dangerVariants: (
  "main": $bc-gov-danger,
  "100": $bc-gov-danger-100,
  "200": $bc-gov-danger-200,
  "300": $bc-gov-danger-300,
  "400": $bc-gov-danger-400,
);

$bc-gov-warning-100: #fef9e8;
$bc-gov-warning-200: #f9e6a2;
$bc-gov-warning-300: $bc-gov-warning;
$bc-gov-warning-400: #694e16;

$warningVariants: (
  "main": $bc-gov-warning,
  "100": $bc-gov-warning-100,
  "200": $bc-gov-warning-200,
  "300": $bc-gov-warning-300,
  "400": $bc-gov-warning-400,
);

/* BC Standard */
$bc-standard-01: #004F4B !default;
$bc-standard-02: #20754E !default;
$bc-standard-03: #61A744 !default;
$bc-standard-04: #31BA9A !default;
$bc-standard-05: #05A6D1 !default;
$bc-standard-06: #005C98 !default;
$bc-standard-07: #243C7C !default;
$bc-standard-08: #5F3795 !default;
$bc-standard-09: #883895 !default;
$bc-standard-10: #DD5857 !default;
$bc-standard-11: #DD5857 !default;
$bc-standard-12: #F2A488 !default;
$bc-standard-13: #ECC51D !default;

/* grayscale */
$gray-100: #F1F1F1 !default;
$gray-200: #E4E4E4 !default; 
$gray-300: #C7C7C7 !default; 
$gray-400: #A1A1A1 !default;
$gray-500: #8C8C8C !default;
$gray-600: #7A7A7A !default;
$gray-700: #595959 !default;
$gray-800: #3D3D3D !default;
$gray-900: #1A1A1A !default;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;

$theme-colors: (
  "primary": $bc-gov-primary,
  "secondary": $bc-gov-secondary,
  "success": $bc-gov-success,
  "warning": $bc-gov-warning,
  "info": $bc-gov-info,
  "danger": $bc-gov-danger,
  "light": $bc-gov-light,
  "dark": $bc-gov-dark,
) !default;

/* implementation */

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/variables";
