@import "../../../node_modules/bootstrap/scss/functions";

//-- ---
//-- COLORS
//-- ---
$white:    #fff !default;
$black:    #000 !default;

/* Bootstrap Primary theme override colors */
$bc-gov-primary: #003366;
$bc-gov-secondary: #fcba19;
$bc-gov-success: #2e8540;
$bc-gov-warning: #f1c21b;
$bc-gov-danger: #d8292f;
$bc-gov-info: #d9eaf7;
$bc-gov-light: $white;
$bc-gov-dark: $black;

/* BC Primary */
$bc-brand-blue: #003366;
$bc-brand-gold: #FCBA19;
$bc-brand-text: #313132;
$bc-brand-links: #1A5A96;
$bc-brand-background-blue: #38598A;
$bc-brand-background-light-gray: #F2F2F2;

/* BC Standard */
$bc-standard-01: #004F4B !default;
$bc-standard-02: #20754E !default;
$bc-standard-03: #61A744 !default;
$bc-standard-04: #31BA9A !default;
$bc-standard-05: #05A6D1 !default;
$bc-standard-06: #005C98 !default;
$bc-standard-07: #243C7C !default;
$bc-standard-08: #5F3795 !default;
$bc-standard-09: #883895 !default;
$bc-standard-10: #DD5857 !default;
$bc-standard-11: #F38489 !default;
$bc-standard-12: #F2A488 !default;
$bc-standard-13: #ECC51D !default;

/* grayscale */
$gray-100: #F1F1F1 !default;
$gray-200: #E4E4E4 !default; 
$gray-300: #C7C7C7 !default; 
$gray-400: #A1A1A1 !default;
$gray-500: #8C8C8C !default;
$gray-600: #7A7A7A !default;
$gray-700: #595959 !default;
$gray-800: #313132 !default;
$gray-900: #1A1A1A !default;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;

$theme-colors: (
  "primary": $bc-gov-primary,
  "secondary": $bc-gov-secondary, 
  "success": $bc-gov-success,
  "warning": $bc-gov-warning,
  "info": $bc-gov-info,
  "danger": $bc-gov-danger,
  "light": $bc-gov-light,
  "dark": $bc-gov-dark
) !default;

$custom-theme-colors:(
  "bc-brand-blue": $bc-brand-blue,
  "bc-brand-gold": $bc-brand-gold,
  "bc-brand-text": $bc-brand-text,
  "bc-brand-links": $bc-brand-links,
  "bc-brand-background-blue": $bc-brand-background-blue,
  "bc-brand-background-light-gray": $bc-brand-background-light-gray,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/root";
