.custom-hint-container {
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;
}

.custom-hint-input {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.54);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
