name: PR Validate

on:
  pull_request:
    types: [edited, opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-edit-${{ github.event.number }}
  cancel-in-progress: true
jobs:
  get-deployment-number:
    name: Get Deployment
    runs-on: ubuntu-22.04
    outputs:
      deployment-number: ${{ steps.get-deployment-number.outputs.DEPLOYMENT_NUMBER }}
    steps:
      - name: Calculate Deployment Number
        id: get-deployment-number
        shell: bash
        run: |
          PR_NUMBER=$(echo ${{ github.event.number }})
          PR_NUMBER_MOD_TEN=$(($PR_NUMBER % 10))
          echo "DEPLOYMENT_NUMBER=$(($PR_NUMBER_MOD_TEN))" >> $GITHUB_OUTPUT

  validate:
    name: Validate PR
    needs: [get-deployment-number]
    if: (! github.event.pull_request.draft)
    uses: bcgov/quickstart-openshift-helpers/.github/workflows/.pr-validate.yml@v0.9.0
    with:
      markdown_links: |
        - [Frontend](https://f208ae-dev-${{ needs.get-deployment-number.outputs.deployment-number }}-natsuite-frontend.apps.emerald.devops.gov.bc.ca)
        - [GitOps App](https://gitops-shared.apps.emerald.devops.gov.bc.ca/applications/f208ae-tools/f208ae-dev-${{ needs.get-deployment-number.outputs.deployment-number }}-natsuite)
        - [GitOps E2E Logs](https://gitops-shared.apps.emerald.devops.gov.bc.ca/applications/f208ae-tools/f208ae-dev-${{ needs.get-deployment-number.outputs.deployment-number }}-natsuite?resource=&node=batch/Job/f208ae-dev/f208ae-dev-${{ needs.get-deployment-number.outputs.deployment-number }}-e2e-playwright/0&tab=logs) 
        - [E2E Reports](https://f208ae-dev-${{ needs.get-deployment-number.outputs.deployment-number }}-natsuite-e2e.apps.emerald.devops.gov.bc.ca/playwright/)

  results:
    name: Validate Results
    if: always()
    needs: [validate]
    runs-on: ubuntu-22.04
    steps:
      - run: echo "Success!"
