name: Release To Production

on:
  workflow_dispatch:
    inputs:
      release_branch:
        description: "Specify the release branch to get the latest PR number from, like `release/myrelease`"
        required: true

concurrency:
  # Do not interrupt previous workflows
  group: ${{ github.workflow }}
  cancel-in-progress: false

env:
  GITOPS_REPO_BRANCH: main
  GITOPS_REPO: bcgov-c/tenant-gitops-f208ae
  GITOPS_REPO_VALUES_PATH: ./charts/apps/natsuite/values
  GITOPS_REPO_OUTPUTS_PATH: ./charts/apps/natsuite/values/.outputs

jobs:
  vars:
    name: Set Variables
    outputs:
      pr: ${{ steps.latest-pr.outputs.pr }}
    runs-on: ubuntu-22.04
    timeout-minutes: 1
    steps:
      - name: Verify Is Main Branch
        if: github.event_name == 'workflow_dispatch' && github.ref != 'refs/heads/main'
        run: |
          echo "This workflow should not be triggered with workflow_dispatch on a branch other than main"
          exit 1
      - uses: actions/checkout@v4
      - name: Get Latest PR Number in release branch
        id: latest-pr
        uses: ./.github/actions/get-latest-pr-number
        with:
          release_branch: ${{ github.event.inputs.release_branch }}
      - name: Set PR Output
        run: echo "pr=${{ steps.latest-pr.outputs.pr }}" >> $GITHUB_OUTPUT

  create_release:
    name: Create GitHub Release (Keep Version)
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        package: [backend, frontend, webeoc]
    steps:
      - uses: actions/checkout@v4

      # Retrieve the latest tag (from the release branch)
      - name: Get Latest Tag
        id: tag
        run: |
          git fetch --tags
          git fetch origin ${{ github.event.inputs.release_branch }}:${{ github.event.inputs.release_branch }}
          latest_tag=$(git tag --points-at ${{ github.event.inputs.release_branch }} "v*.*.*")
          echo "::set-output name=latest_tag::$latest_tag"
          echo "Latest tag: $latest_tag"

      # Create GitHub Release using the last tag
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.tag.outputs.latest_tag }}
          name: Release ${{ steps.tag.outputs.latest_tag }}
          body: |
            ## Changes in this release:
            - New features and bug fixes.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  promote:
    name: Promote Images
    needs: [vars]
    runs-on: ubuntu-22.04
    permissions:
      packages: write
    strategy:
      matrix:
        package:
          [
            backend,
            frontend,
            migration-complaint,
            webeoc,
            backend-cm,
            migration-complaint-outcome,
            migration-investigation,
            migration-inspection,
            migration-shared,
          ]
    timeout-minutes: 1
    steps:
      - uses: shrink/actions-docker-registry-tag@v4
        with:
          registry: ghcr.io
          repository: ${{ github.repository }}/${{ matrix.package }}
          target: ${{ needs.vars.outputs.pr }}
          tags: prod

  ### Emerald jobs
  deploy-emerald-prod:
    name: Deploy Workloads To Emerald (prod)
    needs: [vars, promote]
    environment: prod
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout CD repo
        uses: actions/checkout@v4
        with:
          repository: ${{ env.GITOPS_REPO }}
          ssh-key: ${{ secrets.MANIFEST_REPO_DEPLOY_KEY }}
          ref: ${{ env.GITOPS_REPO_BRANCH }}
      - name: Configure git
        # From https://github.com/orgs/community/discussions/26560#discussioncomment-3531273
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Roll latest changes out to test
        run: |
          VALUES_DIR="${{ env.GITOPS_REPO_VALUES_PATH }}" \
          OUTPUTS_DIR="${{ env.GITOPS_REPO_OUTPUTS_PATH }}" \
          ./.github/scripts/gitops.sh production
      - name: Commit and push update
        run: |
          ./.github/scripts/gitops.sh commitall "Releasing test to production"
          git push origin ${{ env.GITOPS_REPO_BRANCH }}
